<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137181257045-nl6a0vcl119d1vqqijov7k6mt7juct5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137181257045-nl6a0vcl119d1vqqijov7k6mt7juct5k</string>
	<key>API_KEY</key>
	<string>AIzaSyCF2lmih93Tp_8sNYn9tA1DbFaw1cKECD4</string>
	<key>GCM_SENDER_ID</key>
	<string>137181257045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Heba.chocolateApp</string>
	<key>PROJECT_ID</key>
	<string>chocoapp-f9f02</string>
	<key>STORAGE_BUCKET</key>
	<string>chocoapp-f9f02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137181257045:ios:c4a0c4f1c5979c365a23dc</string>
	<key>DATABASE_URL</key>
	<string>https://chocoapp-f9f02.firebaseio.com</string>
</dict>
</plist>